/* HOME PAGE */
a {
  color: #000;
  font-size: 100px;
  font-weight: 500;
  line-height: 100px;
  margin: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}

body {
  font-family: 'Roboto';
}

h1 {
  color: #609;
  font-size: 100px;
  font-weight: 500;
  line-height: 100px;
  margin: 0 15px;
  text-transform: uppercase;
}

.links {
  position: absolute;
  bottom: 0;
  left: 0;
}
.about:hover span {
  color: yellow;
}
.blog:hover span {
  color: red;
}
.projects:hover span {
  color: blue;
}
.contact:hover span {
  color: green;
}

.projects,
.contact {
  font-style: italic;
}

.about {
  color: red;
}

.projects {
  color: green;
}

.contact {
  color: blue;
}

.blog {
  color: yellow;
}

.back span {
  /*visibility: hidden;*/
  visibility: visible;
}

.back:hover span {
  /*visibility: visible;*/
  visibility: hidden;
}

/* ABOUT PAGE */

.about-container {
  max-width: 65%;
  margin: 0 25px;
}

.about-container a {
  color: #609;
  font-size: 30px;
  margin: 0;
}

.about-container h1 {
  color: red;
  margin: 70px 0;
}

.about-container p {
  font-family: 'Lato';
  font-size: 20px;
  margin: 35px 0;
}

/* PROJECTS PAGE */

.projects-container {
  /*max-width: 65%;*/
  max-width: 800px;
  margin: 0 25px;
}

.projects-container a {
  color: #609;
  font-size: 30px;
  margin: 0;
}

.projects-container h1 {
  color: green;
  margin: 70px 0;
}

.projects-container p {
  font-family: 'Lato';
  font-size: 20px;
  margin: 35px 0;
}

.project-image {
  background: black;
  float: left;
  width: 500px;
  transition: opacity .3s ease;
}

.project-image:hover {
  opacity: .75;
}

.project-text {
  margin-left: 550px;
}

.projects-container .project-title,
.projects-container .project-link {
  color: initial;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.projects-container .project-description {
  font-size: 16px;
}

.project-link:hover {
  background: yellow;
}

.project-media-object {
  margin: 150px 0;
  overflow: auto;
  zoom: 1;
}

/* CONTACT PAGE */

.contact-container {
  max-width: 65%;
  margin: 0 25px;
}

.contact-container a {
  color: #609;
  font-size: 30px;
  margin: 0;
}

.contact-container h1 {
  color: blue;
  margin: 70px 0;
}

.contact-container p {
  font-family: 'Lato';
  font-size: 20px;
  margin: 10px 0;
}

.contact-container .contact-link {
  color: #333;
  font-size: 24px;
  text-transform: lowercase;
}

.contact-container .contact-link:hover {
  background-color: yellow;
}

/* BLOG PAGE */

.blog-container {
  max-width: 65%;
  margin: 0 25px;
}

.blog-container a {
  color: #609;
  font-size: 30px;
  margin: 0;
}

.blog-container h1 {
  color: yellow;
  margin: 70px 0;
}

.blog-container p {
  font-family: 'Lato';
  font-size: 20px;
  margin: 35px 0;
}

