---
---
<!doctype html>
<html lang="en">
  <head>
    <title>Frances Corry - Projects</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,300,300italic,100,100italic,900italic,700italic,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,500,500italic,700,300,300italic,100,100italic,900italic,700italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/stylesheet.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div class="projects-container">
      <h1>Projects</h1>
      <div class="paragraph">
        <p>
        {{ site.data.projects.length }}
          {% for project in site.data.projects %}
            {% if project.type == 'featured' %}
              <div class="project-media-object">
                <a class="project-image-link" href="{{ project.link }}" target="_blank"><img class="project-image" src="{{ project.image }}"></a>
                <div class="project-text">
                  <p class="project-title">{{ project.title }}</p>
                  <p class="project-description">{{ project.desc }}</p>
                  <a href="{{ project.link }}" target="_blank" class="project-link">{{ project.media }} ><span>></span></a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </p>
        <p>
          <h2 class="additional-projects">Additional Projects</h2>
          <table>
            <col style="width: 50%">
            <col style="width: 50%">
            {% for project in site.data.projects %}
              {% if project.type == 'additional' %}
                {% assign mod = forloop.index | modulo: 2 %}
                {% if mod == 0 %}
                  {% assign next = site.data.projects[forloop.index] %}
                  <tr class="projects-table-row">
                    <th class="project-title">
                      {{ project.name }}
                    </th>
                    <th class="project-title">
                      {{ next.name }}
                    </th>
                  </tr>
                  <tr class="projects-table-row">
                    <td class="project-description">
                      <p>{{ project.desc }}</p>
                      <a href="{{ project.link }}" target="_blank" class="project-link">{{ project.media }} ><span>></span></a>
                    </td>
                    <td class="project-description">
                      <p>{{ next.desc }}</p>
                      <a href="{{ next.link }}" target="_blank" class="project-link">{{ next.media }} ><span>></span></a>
                    </td>
                  </tr>
                {% endif %}
              {% endif %}
            {% endfor %}
          </table>
        </p>
        <a class="back" href="index.html">
          <span><</span>< BACK
        </a>
      </div>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68494881-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
